body {
    background-color: rgb(54, 54, 54);
}

h1, label, div {
    font-family: sans-serif;
    color: whitesmoke;
}

em {
    font-style: normal;
    background-image: linear-gradient(to bottom right, red, Orange, yellow);
    background-clip: text;
    color: transparent;
}

#credits {
    position: fixed;
    bottom: 8px;
    left: 16px;
    font-size: 12px;
}

button {
    color: black;
    padding: 1%;
}

input {
    color: black;
}
