body {
    background-color: rgb(54, 54, 54);
}

* {
    font-family: sans-serif;
    color: whitesmoke;
}

button {
    color: black;
}

.guessContainer {
    margin: auto;
    width: 60%;
}

input {
    color: black;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.bounce-animation {
    animation: bounce 0.3s 1;
}