body {
    background-color: rgb(54, 54, 54);
}

* {
    font-family: monospace, Monaco;
    color: whitesmoke;
}

button {
    color: black;
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.bounce-animation {
    animation: bounce 0.3s 1;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.spin-anim {
    animation: spin 0.5s 1;
}

#random_emoji_txt {
    font-size: 150px;
    display: inline-block;
}
#txt_div {
    display: flex;
    justify-content: center;
}

